:root {
    --font-family: 'Open Sans', sans-serif;
}
body {
    font-family: var(--font-family);
    background-color: black;
    font-size: .7em;
}
.alert-info a {
    text-decoration: none;
    color: #546969;
}
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sub-section {
    font-style: italic;
}
nav {
    margin-top: 2em;
}

@media only screen and (min-width:0px) and (max-width:768px) {

    .alert-info {
        text-align: center;
        font-size: 1.2em;
        background: #CEFFFF;
        padding-top: 1em;
        padding-bottom: 1em;
        border: 2px solid #D8D8D8;
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 0;
    }

    h1 {
        text-align: center;
        font-size: 4em;
        margin: 0 auto;
    }
    .nav-links li {
        text-align: center;
        font-size: 1.3em;
        background: #CCCCCC;
        padding-top: 1em;
        padding-bottom: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .header-img {
        max-width: 339px;
        max-height: auto;
        margin: .5em auto;
    }
    img {
        width: 100%;
        height: auto;
    }
    .main>h2 {
        font-size: 2em;
    }
    .main>p {
        font-size: 1.2em;
    }
    .sub-section > h2 {
        font-size: 1.6em;
    }
    .sub-section >p{
        font-size: 1.2em;
    }
    footer>p {
        font-size: 1em;
        float: left;
        position: relative;
        display: inline-block;
        bottom: 0em;
        left: 0em;
    }
    #social-media-links {
        display: inline-block;
        margin: auto;
        padding: auto;
    }
    #social-media-links img {
        padding: .5em;
        width: 10%;
        float: left;
    }
}



@media screen and (min-width:769px) and (max-width:2400px) {

    h1 {
        font-size: 4em;
        margin: 0;
    }

    img {
        max-width: 100%;
        max-height: auto;
    }
    h2 {
        font-size: 1.8em;
    }
    .hidden-on-desktop {
        display: none;
    }
    .nav-links {
        font-size: 1.4em;
        text-align: right;
        padding: 0 auto;
        margin: 0 auto;
    }
    .nav-links li {
        display: inline-block;
        padding: .5em;
    }
    .header-img {
        max-width: 890px;
        height: auto;
        width: auto;
        margin: .5em auto;
    }
    .main>p {
        font-size: 1.2em;
    }
    .sub-section >p{
        font-size: 1.2em;
    }
    footer>p {
        font-size: 1em;
        display: inline-block;
        float: left;
    }
    #social-media-links {
        display: inline-block;
        float: right;
        width: 100%;
    }
    #social-media-links img {
        padding: .5em;
        width: 10%;
        float: right;
    }
}
