#desert {
    max-height: 400px;
    max-width: 400px;
}

#city {
    max-height: 400px;
    max-width: 400px;
}

#grass {
    max-height: 400px;
    max-width: 400px;
}

#night_sky {
    max-height: 400px;
    max-width: 400px;
}